/* FONTS */
@font-face {
    font-family: "DarkerGrotesque";
    src: url("./fonts/darkergrotesque.woff") format("woff");
}

@font-face {
    font-family: "AbrilFatface";
    src: url("./fonts/abrilfatface.woff") format("woff");
}

@font-face {
    font-family: "Mulish";
    src: url("./fonts/mulish.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/poppins.woff") format("woff");
}

@font-face {
    font-family: "PoppinsExtra";
    src: url("./fonts/poppins-extrabold.woff") format("woff");
}


/* STYLES */
:root {
    --grey-900: #282828;
    --grey-800: #2c2c2c;
    --grey-700: #373737;
    --grey-600: #4b4b4b;
    --grey-500: #737373;
    --grey-400: #9b9b9b;
    --grey-300: #bbb;
    --grey-200: #d3d4d4;
    --grey-100: #eaebec;

    --purple-900: #474066;
    --purple-800: #595080;
    --purple-700: #8479af;
    --purple-600: #a08fe6;
    --purple-500: #b29fff;
    --purple-400: #c1b2ff;
    --purple-300: #d1c5ff;
    --purple-200: #ded6fb;
    --purple-100: #f0ecff;

    --blue-900: #0d1f2a;
    --blue-800: #122a38;
    --blue-700: #163547;
    --blue-600: #1f4a63;
    --blue-500: #2e6169;
    --blue-400: #437178;
    --blue-300: #82a0a5;
    --blue-200: #C4E0E5;
    --blue-100: #dcecef;
}

html {
    margin: 0;
    padding: 0;
    
    font-family: 'DarkerGrotesque';
    letter-spacing: 0.5px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    background: var(--blue-900);
    padding: 0 80px;

}

.header-logo {
    display: flex;
    justify-content: center;

    width: 60px;
    height: 60px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: var(--blue-200);
}

.header-logo-img {
    width: 50px;
    height: 50px;
}

.header-title {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.header-title-img {
    width: 130px;
}

.menu-list {
    display: flex;
    text-align: center;
    font-size: 21px;
    padding-left: 0;
}

header .header-item:last-child {
    margin-left: auto;
}

.header-btn-mobile {
    display: none;
    position: relative;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    z-index: 200;
}

.header-btn-mobile-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 3px;
    background-color: white;
    border-radius: 1.5px;
    transform: translateX(-50%) translateY(-50%);
    transition: background-color .15s ease-in-out;
}

.header-btn-mobile-icon::after, 
.header-btn-mobile-icon::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 3px;
    background-color: white;
    border-radius: 1.5px;
    transition: top .15s ease-in-out,transform .15s ease-in-out;
}

.header-btn-mobile-icon::after {
    top: 8px
}

.header-btn-mobile-icon::before {
    top: -8px
}

.header-btn-mobile.-open .header-btn-mobile-icon::before {
    top: 0;
    transform: rotate(-45deg);
}

.header-btn-mobile.-open .header-btn-mobile-icon::after {
    top: 0;
    transform: rotate(45deg);
}

.header-btn-mobile.-open .header-btn-mobile-icon {
    background-color: transparent;
}

.menu-list-item {
    display: block;
    width: 100px;
    flex-grow: 1;
}

.menu-list-item a {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-in-out;
}

.menu-list-item a:hover {
    color: var(--blue-400);
    border-bottom: 2px solid var(--blue-400);
}

main {
    padding: 30px 80px;
    background: rgb(40,40,40);
    background: linear-gradient(135deg, hsla(202, 53%, 18%, 1) 0%, hsla(202, 52%, 25%, 1) 50%, hsla(188, 39%, 30%, 1) 100%);
    background-attachment: fixed;
    flex: 1;
}

@media only screen and (max-width: 837px) {
    header {
        flex-wrap: wrap;
        padding: 0 30px;
    }

    .header-nav {
        display: none;
    }
    
    .header-nav.-open {
        display: flex;
        justify-content: center;
        flex-basis: 100%;
    }

    .header-btn-mobile {
        display: block;
    }

    main {
        padding: 30px;
    }
}

/* BIG BANNER  */
.bigbanner-title {
    font-family: 'AbrilFatface' !important;
    font-size: 50px;
    letter-spacing: 2px;
    /* font-weight: 400; */
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

.bigbanner-subtitle {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0 0 30px;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.img-content {
    position: relative;
    width: 325px;
    height: 325px;
    border-radius: 50%;
    background-color: var(--blue-200);
    box-shadow: 0px 0px 28px var(--grey-800);

    background-image: url("./resources/header-logo.png");
    background-size: 340px;
    background-position-x: center;

    transition: background-image 0.5s ease-in-out;
}

.img-content:hover {
    background-image: url("./resources/Carolina_Campos_photo.png");
}

@media only screen and (max-width: 837px) {
    .big-banner .button {
        margin: 0 10px 0 0;
    }

    .img-content {
        width: 200px;
        height: 200px;
        background-size: 210px;
    }
}

/* HOME PAGE CONTENT  */
.page-content {
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
    margin: 50px auto;
}

.columns {
    width: 450px;
}

.column-title {
    font-family: 'AbrilFatface' !important;
    font-size: 20px;
    margin: 0;
}

.img-column {
    text-align: center;
    text-align: -webkit-center;
}

.content-block {
    display: none;
}

.active-content {
    display: block;
}

/* .container-title {
    margin: 15px 0;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
    border: solid white 3px;
    background-color: var(--grey-200);
    padding: 5px 25px;
    margin-bottom: 15px;
}

.item-title-container {
    display: flex;
    align-items: center;
}

.item-title {
    margin: 0;
} */

/* .item-dots-container {
    display: flex;
} */

.vertical-buttons {
    flex-flow: column;
    max-width: 400px;
    margin: 0 auto;
}

.button-content {
    margin: 15px;
    text-align: center;
    cursor: pointer;
}

.section-title {
    font-family: 'AbrilFatface' !important;
    font-size: 40px;
    text-align: center;
}

.section-subtitle {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 30px;
}

.itens-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    width: 58%;
}

.item-img {
    width: auto;
    max-height: 60px;
    margin: 25px;
    /* flex: 1 1 60px; */
}

@media only screen and (max-width: 837px) {
    .itens-container {
        width: 80%;
    }
}


/* FOOTER  */
footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    padding: 0 80px;

    background: var(--blue-900);
}

.footer-item.itens-container {
    width: 75%;
}

.footer-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer-img-container {
    display: flex;
    justify-content: center;
}

.footer-img {
    width: 200px;
    margin: 25px 0;
}

.footer-nav {
    text-align: center;
    padding: 0;
    margin: 0 0 35px;
}

.contact-img {
    width: 32px;
    height: auto;
    margin: 0 10px;
}

@media only screen and (max-width: 837px) {
    footer {
        padding: 0 30px;
    }
}