/* FONTS */
@font-face {
    font-family: "DarkerGrotesque";
    src: url("./fonts/darkergrotesque.woff") format("woff");
}

@font-face {
    font-family: "AbrilFatface";
    src: url("./fonts/abrilfatface.woff") format("woff");
}

@font-face {
    font-family: "Mulish";
    src: url("./fonts/mulish.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto.woff") format("woff");
}


/* STYLES */
:root {
    --grey-900: #282828;
    --grey-800: #333;
    --grey-700: #494949;
    --grey-600: #6d6d6d;
    --grey-500: #808080;
    --grey-400: #929292;
    --grey-300: #bbb;
    --grey-200: #d3d4d4;
    --grey-100: #eaebec;
    
    /* --purple-900: #8479af;
    --purple-800: #b29fff;
    --purple-700: #ded6fb; */

    --purple-900: #474066;
    --purple-800: #595080;
    --purple-700: #8479af;
    --purple-600: #a08fe6;
    --purple-500: #b29fff;
    --purple-400: #c1b2ff;
    --purple-300: #d1c5ff;
    --purple-200: #ded6fb;
    --purple-100: #f0ecff;
}

html {
    margin: 0;
    padding: 0;
    
    font-family: 'DarkerGrotesque';
    letter-spacing: 0.5px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    position: relative;
    align-items: center;

    background: var(--grey-800);
    padding: 0 80px;

}

.header-logo {
    display: flex;
    justify-content: center;

    width: 60px;
    height: 60px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: var(--purple-200);
}

.header-logo-img {
    width: 50px;
    height: 50px;
}

.header-title {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.header-title-img {
    width: 130px;
}

.menu-list {
    display: flex;
    font-size: 17px;
}

.menu-list-item {
    display: block;
    width: 100px;
}

main {
    padding: 30px 80px;
    background: rgb(40,40,40);
    background: linear-gradient(160deg, rgba(40,40,40,1) 0%, rgba(58,58,58,1) 15%, rgba(73,73,73,1) 50%, rgba(132,121,175,1) 85%, rgba(178,159,255,1) 100%);
    background-attachment: fixed;
    flex: 1;
}

/* BIG BANNER  */
.page-title {
    font-family: 'AbrilFatface' !important;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

.page-subtitle {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0 0 30px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.img-content {
    width: 325px;
    border-radius: 50%;
    background-color: var(--purple-200);
    box-shadow: 0px 0px 28px var(--grey-800);
}

/* HOME PAGE CONTENT  */
.page-content {
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
}

.columns {
    width: 450px;
}

.column-title {
    font-size: 20px;
    margin: 0;
}

.img-column {
    text-align: center;
    text-align: -webkit-center;
}

.content-block {
    display: none;
}

.active-content {
    display: block;
}

.container-title {
    margin: 15px 0;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
    border: solid white 3px;
    background-color: var(--grey-200);
    padding: 5px 25px;
    margin-bottom: 15px;
}

.item-title-container {
    display: flex;
    align-items: center;
}

.item-title {
    margin: 0;
}

.item-img {
    width: auto;
    max-height: 30px;
    margin-right: 10px;
}

.item-dots-container {
    display: flex;
}

.vertical-buttons {
    flex-flow: column;
    width: 50%;
    margin: 0 auto;
}

.button-content {
    margin: 15px;
    text-align: center;
    cursor: pointer;
}


/* FOOTER  */
footer {
    display: flex;
    position: relative;
    align-items: center;

    padding: 0 80px;

    background: var(--grey-800);
}

.footer-container {
    display: flex;
}

.footer-img-container {
    display: flex;
    justify-content: center;
}

.footer-img {
    width: 200px;
    margin: 25px 0;
}

.footer-nav {
    flex-flow: column;
}